<div class="container bg-dark text-white">
  <h1>Auto in Evidenza</h1>
  <div class="row d-flex m-2" *ngFor="let car of featuredCars">
    <div class="col-md-4">
      <div class="card">
        <img
          [src]="car.modelImage"
          class="card-img-top"
          alt="{{ car.model }}"
        />
        <div class="card-body">
          <h5 class="card-title">{{ car.brand }} {{ car.model }}</h5>
          <p class="card-text">
            Anno: {{ car.year }} - Prezzo: {{ car.price }}€
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
